// mt -> margin-top

.mt {
  margin-top: 10rem !important;
}

// mr -> margin-right

.mr {
  margin-right: 4rem !important;
}

.text-center {
  text-align: center !important;
}

// mb -> margin-bottom

.mb {
  margin-bottom: 6rem !important;
}
